body{
	background-color: #F2EDE4;
	font-family: 'Raleway', sans-serif;
	color: #735D49;
	font-size: 22px;  
}
header{
	background-color: #735D49; 
	height: 150px;
}
nav{
	background-color: #A67951;
	height: 60px;
	text-align: center;
}
	nav a{
		color: #F2EDE4;
		text-decoration: none;
		margin: 8px;
		padding: 8px;
		display: inline-block;
	}

main{
	background-color: #F2EDE4;
	min-height: 530px;
	padding-top: 20px;
	width: 1024px;
	margin: auto;
}
	main a{
		color: #261302;
		text-decoration: none;
	}

footer{
	background-color: #A67951;
	height: 150px;
	box-sizing: border-box;
	color: #F2EDE4;
	text-align: center;
	padding-top: 50px;
}
